@charset "utf-8";
/* CSS Document */

.maincontent {
    min-height: 250px;
    width:100%;
    padding: 20px 10px;
}

p {
    margin: 10px 0;
}

/* footer */
footer {
    margin: 0 auto;
    width: 100%;
}

#footer ul {
    list-style-type: none;
    overflow: auto;
    width: 100%;
    margin: 0;
}
#footer li {
    clear:both;
    padding: 10px 0;
    margin: auto;
}

#footer a {
    color: black;
}

.content_section {
    margin: 40px auto;
    width: 85%;
}
.about_me img {
    width: 101% !important;
}

.maincontent div img {
    width: 100%;
}

.row {
    margin: auto;
}
.about_me {
    max-width:33%;
    display: inline-block;
}

#navigation ul {
    list-style-type: none;
    overflow: auto;
    width: 100%;
    margin: 0;
    background-color: #8c6e77;
}
#navigation li {
    clear:both;
    padding: 10px 0;
    margin: auto;
}

#navigation a {
    color: white;
}

#navigation a:hover {
    color: rgb(128, 177, 145);
}

.container {
    margin:auto;
    max-width:1150px;
    font-family: 'Source Sans Pro', sans-serif;
}

.h1-title {
    display: inline-table;
}

nav {
    position: sticky;
}

#hamburger {
    display:none;
}

/* Container Media Queries */
@media screen and (max-width:1250px) and (min-width:875px) {
    .container {
    max-width:950px;
    }
}
@media screen and (max-width:874px) and (min-width:675px) {
    .container {
    max-width:675px;
    }
}

  @media screen and (max-width:576px) {
    .noImg {
        display:none;
    }
  }

@media screen and (min-width:700px) {
    #navigation ul {
    display: inline-flex;
    padding: 0;
    }
    #navigation {
        display: block;
    }
    #footer ul {
        display: inline-flex;
        padding: 0;
    }
}
@media screen and (max-width:700px) {
    #navigation {
        display:none;
        z-index:1000;
    }
    #hamburger {
        display:inline-block;
    }
    #navigation ul {
        background-color: #8c6e77;
    }
    #navigation li {
        background-color: none;
    }
    #footer ul {
        text-align:center;
    }
}
