@charset "utf-8";
/* CSS Document */

.maincontent {
    min-height: 100%;
    width:100%;
}

p {
    margin: 10px 0;
}

.content_section {
    margin: 40px auto;
    width: 85%;
}
.about_me img {
    width: 101% !important;
}

.maincontent div img {
    width: 100%;
}

.breadcrumb{
    width:19%;
    float:left;
    background-color: #ffffff00 !important;
    margin-bottom: 0 !important;
}

.long {
    width:23% !important;
}

nav {
    height:50px;
}

.row {
    margin: 0;
}

.about_me {
    max-width:33%;
    display: inline-block;
}