@charset "utf-8";

/* CSS Document */

html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
}

header {
    padding: 150px 0 110px;
}

section {
    padding: 50px 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: 400 !important;
    position: relative;
    overflow-y: auto;
}

p {
    margin: 10px 0;
}

h2 {
    font-size: 2.4rem !important;
    margin-bottom: 15px !important;
}

h3 {
    font-size: 1.5rem;
}

img {
    width: 100%;
}

strong {
    font-weight: bold !important;
}


/* Content Sections */

.main-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/atlanta1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.main-content a {
    color: white;
    font-size: 1.3rem;
    opacity: 1;
}

.main-content h1 {
    font-size: 3.5rem;
    opacity: 1;
}

.main-content a:hover {
    color: white !important;
    text-decoration: underline !important;
}

.row {
    margin: auto;
}

.container {
    margin: auto !important;
}


/* Fading Animation */

.longer-animated {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeout-overlay .mask:hover {
    opacity: 0;
}

.fadeout-overlay .mask {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* Card Styles */

.card-title {
    font-size: 1.5rem !important;
}

.card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
}

.card:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card img,
carousel-item img {
    border-radius: 0.25rem;
}


/* Buttons */

.btn {
    color: #fff !important;
    width: 145px;
}

.btn-li {
    background-color: #0082ca !important;
}

.btn-git {
    background-color: #333 !important;
}

.btn-email {
    background-color: #4b515d !important;
}

.btn-blue-grey {
    background-color: #78909c !important;
}


/* Container Media Queries */

@media screen and (min-width: 1250px) {
    .main-content {
        background-position: 50% 25%;
    }
}

@media screen and (max-width: 1250px) and (min-width: 875px) {
    .container {
        max-width: 950px;
    }
}

@media screen and (max-width: 874px) and (min-width: 675px) {
    .container {
        max-width: 675px;
    }
}

@media screen and (max-width: 576px) {
    .noImg {
        display: none;
    }
}